/*
-----------------------------------------------------------------------------
-- Better-ID- A Simple FiveM Script, Made By Rocket Development w/ NAT2K15 --
-----------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
                  -- !WARNING! !WARNING! !WARNING! !WARNING! !WARNING! --
        -- DO NOT TOUCH THIS FILE OR YOU /WILL/ FUCK SHIT UP! THERE IS NOTHING TO EDIT --
-- DO NOT BE STUPID AND WHINE TO ME ABOUT THIS BEING BROKEN IF YOU TOUCHED THE LINES BELOW. --
----------------------------------------------------------------------------------------------

*/
#mcard{
  display: none;
}
#mcard .contenair{
	position:fixed;
	z-index: 2;    
	width: 400px;									
	height:400px;									
	left:105%;										
	top:90%;										
	margin:-350px 0 0 -500px;    					
	text-align: center;
	background: url('img/bg-img.png') no-repeat;				
	padding: none; 								
    
}

#vcard{
	display: none;
  }
#vcard .contenair{
	  position:fixed;
	  z-index: 2;    
	  width: 692px;									
	  height:551px;									
	  left:90%;										
	  top:80%;										
	  margin:-350px 0 0 -500px;    					
	  text-align: center;
	  background: url('img/bg-img2.png') no-repeat;				
	  padding: none; 							
	  
  }
  
  /*
#vcard{ -- EDIT TO MATCH YOUR NEW EVENT
	display: none;
  }
#vcard .contenair{ -- EDIT TO MATCH YOUR NEW EVENT
	  position:fixed;
	  z-index: 2;    
	  width: 692px;									
	  height:551px;									
	  left:90%;										
	  top:80%;										
	  margin:-350px 0 0 -500px;    					
	  text-align: center;
	  background: url('img/bg-img2.png') no-repeat;				
	  padding: none; 							
	  
  }
  
  */