#mcard{
  display: none;
}
#mcard .contenair{
	position:fixed;
	z-index: 2;    
	width: 400px;									
	height:400px;									
	left:105%;										
	top:90%;										
	margin:-350px 0 0 -500px;    					
	text-align: center;
	background: url('img/bg-img.png') no-repeat;				
	padding: none; 								
    
}

#vcard{
	display: none;
  }
#vcard .contenair{
	  position:fixed;
	  z-index: 2;    
	  width: 692px;									
	  height:551px;									
	  left:90%;										
	  top:80%;										
	  margin:-350px 0 0 -500px;    					
	  text-align: center;
	  background: url('img/bg-img2.png') no-repeat;				
	  padding: none; 							
	  
  }
  